# PREDIKSI RADIASI SOLAR

Deloyment untuk Domain Data Science (DS) <br>
Orbit Future Academy - AI Mastery - KM Batch 3 <br>
Tim Deployment dan Tim DS <br>
2022

## Modules dan Packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
import joblib

## Import Data

In [2]:
df = pd.read_csv("SolarPrediction.csv")
df.drop(['UNIXTime', 'Data', 'Time', 'TimeSunRise', 'TimeSunSet'], axis=1, inplace=True)

## Exploratory Data Analysis (EDA)

In [3]:
df.head()

   Radiation  Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
0       1.21           48     30.46        59                  177.39   5.62
1       1.21           48     30.46        58                  176.78   3.37
2       1.23           48     30.46        57                  158.75   3.37
3       1.21           48     30.46        60                  137.71   3.37
4       1.17           48     30.46        62                  104.95   5.62

In [4]:
df['Radiation'].value_counts()

1.22      2264
1.23      2110
1.21      2010
1.24      1725
1.20      1558
          ...
645.30       1
627.81       1
609.59       1
592.25       1
4.29         1
Name: Radiation, Length: 14434, dtype: int64

In [5]:
df.describe()

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000
mean,207.124697,51.103255,30.422879,75.016307,143.489821,6.243869
std,315.916387,6.201157,0.054673,25.990219,83.167500,3.490474
min,1.110000,34.000000,30.190000,8.000000,0.090000,0.000000
25%,1.230000,46.000000,30.400000,56.000000,82.227500,3.370000
50%,2.660000,50.000000,30.430000,85.000000,147.700000,5.620000
75%,354.235000,55.000000,30.460000,97.000000,179.310000,7.870000
max,1601.260000,71.000000,30.560000,103.000000,359.950000,40.500000

## Training Model

In [6]:
X = df.drop('Radiation',axis=1)
y = df['Radiation']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7)

In [8]:
model = DecisionTreeRegressor()
model = model.fit(X_train, y_train)

## Evaluasi Model

In [9]:
accuracy_train = model.score(X_train, y_train)
accuracy_test  = model.score(X_test, y_test)

In [10]:
print(f"Akurasi Model (Train) : {np.round(accuracy_train * 100,2)} %")
print(f"Akurasi Model (Test)  : {np.round(accuracy_test * 100,2)} %")

Akurasi Model (Train) : 100.0 %
Akurasi Model (Test)  : 50.49 %

In [11]:
X

       Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
0               48     30.46        59                  177.39   5.62
1               48     30.46        58                  176.78   3.37
2               48     30.46        57                  158.75   3.37
3               48     30.46        60                  137.71   3.37
4               48     30.46        62                  104.95   5.62
...            ...       ...       ...                     ...    ...
32681           44     30.43       102                  145.42   6.75
32682           44     30.42       102                  117.78   6.75
32683           44     30.42       102                  145.19   9.00
32684           44     30.42       101                  164.19   7.87
32685           44     30.43       101                   83.59   3.37

[32686 rows x 5 columns]

In [12]:
y

0        1.21
1        1.21
2        1.23
3        1.21
4        1.17
         ...
32681    1.22
32682    1.17
32683    1.20
32684    1.23
32685    1.20
Name: Radiation, Length: 32686, dtype: float64

## Menyimpan Model

In [34]:
joblib.dump((model), "model1.model")

['model1.model']

## Prediksi

In [13]:
df_test = pd.DataFrame(data={
    "Temperature" : [60],
    "Pressure"  : [35.46],
    "Humidity"  : [55],
    "WindDirection(Degrees)" : [166.78],
    "Speed" : [2.37]
})

df_test[0:1]

   Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
0           60     35.46        55                  166.78   2.37

In [14]:
pred_test = model.predict(df_test[0:1])
pred_test[0]

740.77